{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Modifier l'utilisateur</h1>

        {{ include('utilisateur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <div class="mt-3">
            <a href="{{ path('app_utilisateur_index') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>

        <div class="mt-3">
            {{ include('utilisateur/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}