{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
    <h1>Créer un nouveau Projet</h1>

    {{ include('projet/_form.html.twig') }}

    <a href="{{ path('app_projet_index') }}">retour a la liste</a>
{% endblock %}
